.form {
  margin: 0 auto;
  width: 50%;
}
.form input {
  display: block;
  margin: 0 auto;
  width: 60%;
  height: 50px;
  background-color: rgb(243, 243, 243);
  border: 0;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 18px;
  margin-bottom: 20px;
}
.form button {
  background-color: rgb(46, 168, 250);
  color: white;
}
